
<html>
<head>
   <title>Mangudiinfo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<style>
#container{width:80%;margin: 0 auto;height:830px;background-color:#8AB2D8;position:relative;margin-top:10px;border:2px solid grey;border-radius:10px;}
.header{color:#40933b;border:1px solid grey;float:left;width:33.3%;}
.menu{color:#646464;border:1px solid grey;float:center;width:33.3%;}
.menu1{color:#646464;border:1px solid grey;float:right;width:33.3%;}
body {background-image:url('back.jpeg');}

.header ol li{color:#FFF;background-color:#40933b;}
.header ul li{color:#FFFFFF;background-color:#40933b;}
.menu ul li{color:#FFFFFF;background-color:#40933b;}
.menu ol li{color:#FFFFFF;background-color:#40933b;}
.menu1 ul li{color:#FFFFFF;background-color:#40933b;}
.menu1 ol li{color:#FFFFFF;background-color:#40933b;}
#header_wrapper{height:auto;margin:10px;width:auto;}
#nav_menu ul{display:inline;font-weight:bold;color:white;text-decoration: none;}
#nav_menu li{display:inline;font-weight:bold;color:white;text-decoration: none;}
a {color:white;text-decoration: none;}
a img {width:18px;height:18px;}
#nav_bar{height:20px;padding:8 0 0 100px;}
#header_element{height:100px;width:1064px;  background-color: #00CC99; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, hsl(0, 80%, 70%), #00CC99); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, hsl(0, 80%, 70%), #00CC99); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, hsl(0, 80%, 70%), #00CC99); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, hsl(0, 80%, 70%), #00CC99); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #00CC99);margin:0 auto;border:2px solid grey;border-radius:10px;}
#header_element h1{color:white;font-weight:bold;text-align:center;margin-left:10px;float:left;font-size:45px;font-family:italic;margin-top:0px;}
#user_header{width:1066px;height:25px;background-color:#3b5998;margin:0 auto;}
#user_header h6{color:white;padding-top:5px;}
#left{float:left;clear:both;}
#right{float:right;}
#left1{float:center;clear:both;}
table tr td input {size:25px;}
#footer{position:absolute; bottom:0;padding-left:400px;}
#advertisement{width:70%;margin: 0 auto;}
#block_div{width:100%;margin:0 auto;}
#block{width:20%;margin:0 auto;background-color:#ffffff;float:left;min-height:700px;overflow:hidden;}
#block2{width:84%;margin:0 auto;background-color:white;float:left;min-height:700px;overflow:hidden;border:1px solid grey;border-radius:10px;}
#block3{width:15%;margin:0 auto;background-color:#ffffff;float:right;min-height:800px;overflow:hidden;border:1px solid grey;border-radius:10px;}
#req_peo{width:25%;margin:0 auto;float:left;min-height:358px;}
#req{width:80%;margin:10 0 0 10px;background-color:#ffffff;float:left;min-height:300px;overflow:hidden;border:1px solid grey;border-radius:10px;}
#peo{width:80%;margin:10 10 10 10px;background-color:#ffffff;float:left;min-height:253px;overflow:hidden;border:1px solid grey;border-radius:10px;}
#upload{border:1px solid grey;border-radius:5px;width:858px;margin:10 0 0 10px;height:200px;}
.img1{float: right;width: 300px;height: 97px;margin: 1 3 10 10px;}
#header_element h2
{font-size:25{px;color:white;margin-top:20px;float:right;padding-left:20px;}
.bxslider img{height:0px;width:0px;}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$("button").click(function () {
alert("hi");
$("sign_up_form").toggle();
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>
<div id="header_element">
	<div style="float:left;"><img src="log_0.png"></div>
	<div style="float:left;"><h1><i>M</i>angudi<br/><i>T</i>herkuvadi</h1></div>
	<div style="float:right;"><h2>நேரு யுவ கேந்திரா</h2></div>
	

</div>
<div id="nav_bar">
<div id="nav_menu">
<ul>
<li ><a><img src="/home/kumar/dell_kumar/Desktop/kumar.png"></img></a></li>
<li ><a href="#">Gobi kumar</a></li>
<li ><a href="#">Home</a></li>
<li ><a href="#"><img src="/home/kumar/dell_kumar/system_config_services.png"></img></a></li>

</ul>
</div>
</div>
<div id="container">
<div id="header_wrapper">

<div id="block_div">
<div id="block1">
</div>
<div id="block2">
<div id="upload">

</div>
<div id="req_peo">
<div id="req">
	<%= yield %>
</div>
<div id="peo">
</div>
</div>
</div>
<div id="block3">
</div>
<div id="footer">
<tr><td>privacy policy| </td><td>terms |</td><td>contacts |</td>
</div>
</div>
</div>
</body>
</html>
