<html>
	<head>
		
	</head>
	<body>
		<p>
			P.U.P.SCHOOL
		</p>
		<p>
			<img src="/img/photo0082.jpg">
		</p>
		<p>
			11/1/1975 அன்று அன்றைய சிவகங்கை ஊராட்சி ஒன்றிய பெருந் தலைவர் திரு.சோம.அரு.இராமநாதன் செட்டியார் 
			அவர்கள் தலைமையில் அன்றைய பாராளுமன்ற உறுப்பினர் திரு.தா.கிருஷ்ணன் அவர்கள் ஊராட்சி ஒன்றிய நடுநிலை பள்ளியாக துவங்கி வைத்தார்.
		</p>
		<p>
			பின்னர் 2004 ஆம் ஆண்டு உயர்நிலை பள்ளியாக தரம் உயர்த்தப்பட்டதால் ஊராட்சி ஒன்றிய துவக்கப் பள்ளியாக மாறியது..........
		</p>
	</body>
</html>
