<html>
	<head>
	</head>
	<body>
		<div class="sign_in_form">
			<form action="home/sign_in" method="GET">
			<input name:"name" type="text" value="name">
			<input name:"email" type="text" value="email">
			<input type="submit" value="submit">
		</div>
	</body>
</html>
