<html>
	<head>
		<style>
			.sign_in_form{
				background-color:#00CC99;background-radious:10px;
				height:100px;width:200px;
			}
		</style>
	</head>
	<body>
		<div class="signi_in_form">
			<form action="home/sign_in" method="GET">
			<input name:"name" type="text" value="name">
			<input name:"email" type="text" value="email">
			<input type="submit" value="submit">
		</div>
	</body>
</html>
